body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1280px;
  /* прижимаю хедер к верху и футер книзу */
  min-height: 100%;
  display: flex;
  flex-direction: column;

  padding: 63px 99px 30px;
  margin: 0 auto;
}

/* LOGO */

.logo {
  font-size: 80px;
}
.logo a {
  text-decoration: none;
  color: #000;
}
.logo span {
  color: #4bcaff;
}

/* NAVIGATION MENU */

li,
a {
  list-style: none;
  text-decoration: none;
  color: #fff;
}

.nav-links {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  background-color: #35444f;
}

.nav-links-item {
  font-size: 24px;
  color: #fff;
  padding: 20px 20px;
  border-left: 1px solid #fff;
}
.nav-links-item:last-child {
  border-right: 1px solid #fff;
}

.nav-links-item:hover {
  background-color: #222f3a;
  transition: 0.3s ease;
}

/* MAIN BLOCK */

.main-section {
  display: flex;
  /* прижимаю футер книзу */
  flex: 1 1 auto;
  margin-top: 50px;
  gap: 52px;
}

.left-menu {
  display: flex;
  flex-direction: column;
  color: #485863;
  min-width: 344px;
  border: 1px solid #35444f;
}

.left-menu-item:hover {
  background: #dbdbdb;
}
.left-menu-link {
  display: inline-block;
  font-size: 27px;
  color: #485863;
  line-height: 2.5em;
  margin-left: 40px;
}

.left-menu-item:hover a {
  transform: translate(50px, 0px);
  transition: 0.3s ease;
  color: #000;
}

.right-box {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.image-border {
  border: 1px solid #000;
  padding: 10% 26%;
}
.main-image {
  display: block;
  max-width: 100%;
  transition: transform 0.2s;
}
.main-image:hover {
  transform: scale(1.2);
}

.right-box-paragraph {
  font-size: 18px;
}

/* FOOTER */
.footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(99, 105, 110, 0.48);
  padding: 20px 40px;
}
.nav-footer {
  justify-content: space-between;
  color: #0c1927;
}

.footer-nav-menu {
  display: flex;
  justify-content: space-between;
}
.item {
  padding-right: 25px;
  font-size: 25px;
}
.item a {
  color: #0c1927;
  list-style: none;
  text-decoration: none;
}
.item a:hover {
  color: #3181a6;
}

.copiright {
  flex: end;
}
